<% if flash[:message] %>
  <div class="row top-pad">
    <div class="col-md-12 col-sm-12">
      <div class="panel">
        <h1 class="flash-message text-center"><%= flash[:message] %></h1>
        <% if user_signed_in? %>
          <h1>You can <%= link_to "add this person to our database", new_subject_path %>.</h1>
          <h3>Or just check out this other awesome woman in technology!</h3>
        <% else %>
          <h1>You can <%= link_to "sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session %> to add this person to our database.</h1>
          <h3>Or just check out this other awesome woman in technology!</h3>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<% if @subject.has_wiki_page %>
  <%= render 'subject_with_wiki' %>
<% else %>
  <%= render 'subject_without_wiki' %>
<% end %>
