<!DOCTYPE html>
<html>
<head>
  <title>CodeEquality</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
</head>
<body>
  <%= render 'layouts/navbar' %>
  <div class="container main">
    <% if params[:action] == 'random' %>
      <div class="refresh-button">
        <a href="/random">
          <span class="glyphicon glyphicon-refresh"></span>
          <h5>See another woman in technology.</h5>
        </a>
      </div>
    <% end %>
    <%= yield %>
  </div>
  <%= render 'layouts/footer' %>
</body>
</html>
