<!DOCTYPE html>
<html>
<head>
  <title>CodeEquality</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
</head>
<body>
  <%= render 'layouts/navbar' %>
  <div class="container main">
    <% if params[:action] == 'random' %>
      <div class="refresh-button">
        <%= link_to "See another woman in technology.", random_path, class: 'btn btn-primary btn-lg' %>
      </div>
    <% end %>
    <%= yield %>
  </div>
  <%= render 'layouts/footer' %>
</body>
</html>
